.visit-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    background: var(--primary);
    padding: 20px;
    padding-bottom: 30px !important;
    border-radius: 25px;
    margin-bottom: 30px;
    transition: scale 0.5s;
}

.visit-box:hover {
    scale: 1.03;
    transition: scale 0.5s;
}

.visit-icon {
    margin-right: 15px;
    font-size: 60px;
}

.visit-clientData {
    font-size: 35px !important;
}

.visit-date {
    margin-left: 15px;
    font-weight: bolder;
    font-size: 20px;
}

.visit-now {
    background: var(--focus) !important;
}