.activity-sections {
    width: 80%;
    height: auto;
    padding: 2%;
}

.activity-button {
    display: flex;
    flex-direction: column;
    background: white;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--form-bg-color) !important;
    fill: var(--form-bg-color) !important;
    box-shadow: 0px 0px 30px -24px rgb(41, 41, 41);
}

.activity-button:hover {
    scale: 1.2;
    transition: 1s ease-in-out;
}

.activity-button .option-icon {
    fill: var(--form-bg-color) !important;
    font-size: 70px;
}

.activity-button .option-name {
    color: var(--form-bg-color) !important;
    padding-top: 2%;
    font-size: 22px;
}