.clients-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
}

.client-search {
    width: 100%;
    border-radius: 25px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.client-search input {
    width: 80%;
    height: 40px;
    padding:30px;
    text-align: center;
    opacity: 0.8;
    font-size: 22px;
    border-radius: 25px !important;
    box-shadow: 0px 0px 30px -24px var(--primary) !important;
    margin-top: 30px;
    border: 2px solid var(--primary);
    color: var(--subtext);
}

.client-search .add-btn {
   margin-top: 25px;
    margin-left: 25px;
    font-size: 25px;
    border-radius: 35px !important;
    background: cornflowerblue;
    border: none;
}
