.diet-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-left: 30px;
    transition: 0.8s ease-in-out;
    box-shadow: 0px 0px 24px -16px rgb(89, 89, 89);
    cursor: pointer;
}

.diet-box:hover {
    scale: 1.1;
    transition: 0.8s ease;
}

.diet-icon {
    color: red !important;
    fill: red !important;
    font-size: 70px;
    padding: 10px !important;
}

.diet-icon svg {
    color: var(--primary) !important;
    fill: var(--primary) !important;
}

.diet-name {
    color: var(--text) !important;
    font-weight:bold;
    font-size: 22px;
}
.diet-kcal {
    color: var(--subtext) !important;
    font-size: 18px;
    font-weight:bolder;
}

.diet-kcal svg {
    color: darkorange !important;
    fill: darkorange !important;
}