.modal-container {
    background: var(--primary);
}

.modal-body {
    color: black !important;
    padding: 25px 25px 25px 25px !important;
    font-size: 18px;
}

.modal-body * {
    color: var(--text);
}