.modal-container {
    background: white !important;
    color: black !important;
}

.modal-header {
    background: var(--primary-gradient);
    color: white !important;
}

.form-control {
    box-shadow: 0px 0px 24px -16px rgb(89, 89, 89);
}