.admin-panel-header {
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    color: var(--primary);
    font-weight: bold;
}

.admin-panel {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.admin-panel .activity-button:first-child *{
    color: #2f98da;
    fill: #2f98da;
}

.admin-panel .activity-button:nth-child(2) *{
    color: #ea2b2b;
    fill: #ea2b2b;
}

.admin-panel .activity-button:nth-child(3) *{
    color: #c72bea;
    fill: #c72bea;
}