.diets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    margin: auto;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    gap: 25px;
    padding: 10px;
}