body {
    margin: 0;
    padding: 0;
    border: 0;
}

.time {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    color: var(--primary) !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}