.clients-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
    height: 500px;
    justify-content: center;
    gap: 25px;
}

.client-search {
    width: 100%;
    height: 200px;
    border-radius: 25px !important;
    display: flex;
    justify-content: center;
}

.client-search input {
    background-color: blueviolet;
    width: 75%;
    background: white;
    border: 0;
    height: 40px;
    padding-left: 2%;
    border-radius: 25px !important;
    box-shadow: 0px 0px 30px -24px var(--form-bg-color) !important;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid var(--form-bg-color);
}