.activity-sections {
    width: 80%;
    height: auto;
    padding: 2%;
}

.activity-button {
    display: flex;
    flex-direction: column;
    background: white;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: var(--primary) !important;
    fill: var(--primary) !important;
    box-shadow: 0px 0px 30px -24px rgb(41, 41, 41);
    transition: 0.8s ease-in-out;
    margin-left: 20px;
}

.activity-button:hover {
    scale: 1.2;
    transition: 0.8s ease-in-out;
}

.activity-button svg {
    font-size: 70px;
}

.clients svg {
    fill: #4dcaef !important;
}

.calendar svg {
    fill: #fac753 !important;
}

.diets svg {
    fill: var(--primary-gradient) !important;
}

.visits svg {
    fill: #cd3131 !important;
}

.admin svg {
    fill: #e85309 !important;
}


.activity-button .option-name {
    color: var(--subtext) !important;
    font-size: 22px;
    font-weight: bolder;
    padding-top: 15px;
}

.activity-button:hover {
    cursor: pointer;
}