.signin-form {
    background-color: #fafafa;
    width: 480px;
    height: 360px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid #fbfbfb;
    box-shadow: 0px 0px 37px -24px rgb(97, 97, 97);
    text-align: center;
    border:0;
    padding: 10px;
}

.form-name {
    display: flex;
    background-color: #4fd15d;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 120px;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
}

.signin-button {
    margin-top: 25px;
}