.signin-form {
    background-color: #fafafa;
    width: 480px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    border: 3px solid #fbfbfb;
    box-shadow: 0px 0px 55px -24px rgb(16, 126, 60);
    text-align: center;
    border:0;
    padding: 20px;
}

.form-name {
    display: flex;
    background-color: var(--form-bg-color);
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 120px;
    font-size: 35px;
    border-radius: 10px 10px 0 0;
}

.signin-button {
    margin-top: 25px;
    background-color: var(--form-bg-color) !important;
    border: 0;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white !important;
}