header {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    align-items: center;
    padding: 1%;
    font-size: 25px;
    font-weight: bold;
}