header {
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--primary-gradient);
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    padding: 1%;
    font-size: 25px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none !important;
}
