.diets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 85%;
    height: auto;
    padding: 10px;
}
.add-btn svg{
    color: white !important;
    fill: white;
}