.modal-90w {
    max-width: 1200px !important;
    background: var(--primary);
}

.diets-box{
    display: flex;
    width: 100%;
    padding: 0 !important;
    overflow-y: scroll;
    height: 500px;
}

.diets-box .diet-box {
    margin: 25px;
}
