.modal-90w {
    max-width: 1200px !important;
    background: var(--primary);
}

.diets-box{
    display: flex;
    width: 100%;
    padding: 0 !important;
    overflow-y: scroll;
    height: 500px;
}

.diets-modal-body .diets-container {
    margin-top: 0 !important;
}

.diets-modal-body {
    height: 500px !important;
    overflow: hidden !important;
    padding: 0 !important;
}

.diets-modal-body .diets-box .diet-box {
    scale: 0.9;
}
