/*.client-card {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    padding: 25px;*/
/*    background: var(--primary);*/
/*    font-size: 30px;*/
/*    font-weight: bolder;*/
/*    border-radius: 25px;*/
/*    margin-bottom: 30px;*/
/*    transition: 0.5s ease-in-out;*/
/*}*/

/*.client-name {*/
/*    margin-right: 20px;*/
/*}*/

/*.edit-btn, .show-btn {*/
/*    background: white;*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    padding: 5px;*/
/*    border-radius: 50%;*/
/*    fill: var(--primary) !important;*/
/*    color: var(--primary) !important;*/
/*    font-size: 20px;*/
/*    margin-left: 10px;*/
/*    transition: 0.5s ease-in-out;*/
/*}*/

/*.edit-btn:hover, .show-btn:hover {*/
/*    scale: 1.1;*/
/*    fill: green !important;*/
/*    color: var(--primary) !important;*/
/*    transition: 0.5s ease-in-out;*/
/*}*/


.client-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px;
    background: white;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 24px -16px rgb(89, 89, 89);
}

.client-name {
    margin-right: 20px;
    color: var(--primary);
}

.edit-btn, .show-btn {
    background: white;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    fill: var(--primary) !important;
    color: var(--primary) !important;
    font-size: 20px;
    margin-left: 10px;
    transition: 0.5s ease-in-out;
}

.edit-btn:hover, .show-btn:hover {
    scale: 1.1;
    fill: green !important;
    color: var(--primary) !important;
    transition: 0.5s ease-in-out;
}