.panels-container {
    margin-top: 80px !important;
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.panel-heading {
    display: flex;
    background: var(--primary-gradient);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 30px 30px 0px 0px;
    gap: 5px;
    color: white;
}

.panel-heading svg {
    margin-right: 5px;
    fill: white;
}

.panel-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 30px 30px 50px 50px;
    box-shadow: 0px 0px 24px -16px rgb(89, 89, 89);
}

.panel-data {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    color: black !important;
    fill: black !important;
    border-radius: 0px 0px 30px 30px;
}

.panel-data table {
    display: flex;
    background-color: white;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0px 0px 30px 30px;
}

.measurements-history table {
    border-radius: 0 !important;
}

.panel-data table tr {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}


.panel-data table tr:nth-child(even) *{
    color: var(--focus) !important;
}


.panel-data table th {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--primary) !important;
}

.panel-data table td {
    flex-wrap: wrap;
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    color: var(--primary) !important;
}

.panel-person-info {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--primary-gradient);
    color: black !important;
    font-size: 20px !important;
    padding: 20px;
    border-radius: 25px;
    gap: 5px;
    text-align: center;
}

.panel-person-info .name {
    font-size: 32px !important;
}

.panel-person-info .item{
    font-size: 18px !important;
    font-weight: bold;
    /*background-color: red !important;*/
    margin-top: 10px;
}

.item * {
    margin:5px;
}

.panel-person-info .item svg{
    /*background-color: red !important;*/
    font-size: 35px !important;
    padding-bottom: 5px;
}