.visits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.visit-text {
    font-size: 35px;
    font-weight: bolder;
    color: var(--primary);
    margin-bottom: 25px;
}

.visitcard-box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:auto;
}