.rbc-calendar {
    border-radius: 25px !important;
}

.rbc-calendar *{
    color: var(--text) !important;
}

.rbc-toolbar {
    background-color: var(--primary) !important;
}

.rbc-toolbar-label {
    color: white !important;
    font-weight: bold !important;
}

.rbc-btn-group *{
    color: white !important;
    font-weight: bold !important;
}

.rbc-btn-group *:hover{
    background-color: var(--focus) !important;
}

.rbc-active {
    background-color: var(--focus) !important;
}

.rbc-header {
    background-color: var(--primary) !important;
}
.rbc-header *{
    color: white !important;
    font-weight: bold !important;
}

.rbc-event {
    color: white !important;
}
.rbc-event *{
    color: white !important;
}

/* Calendar.css */

/* 1. Ukrywa całkowicie irytującą sekcję All Day na górze */
.rbc-time-header-content .rbc-row.rbc-time-header-cell,
.rbc-allday-cell,
.rbc-time-header-content > .rbc-row:first-child {
    display: none !important;
}
