.calendar-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white !important;
}


.custom-calendar {
    background: var(--primary-gradient);
    border: 3px solid var(--primary) !important;
    border-radius: 25px !important;
    padding: 30px !important;
    color: #000000 !important;
}

.calendar-nav-btn {
    color: #ffffff !important;
    text-transform: uppercase !important;
}

.custom-calendar table {
    width: 400px !important;
}

.custom-calendar *{
    color: #ffffff;
    font-weight: 700 !important;
    font-size: 22px !important;
    text-shadow: 0px 0px 10px var(--focus);
}

