footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    font-weight: bolder;
    margin-top: 100px;
    background: var(--primary-gradient);
    padding: 15px 50px 15px 50px;
}

.copyright  {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: left;
    gap: 5px;
}

.copyright div svg {
    padding-bottom: 5px;
    font-size: 30px;
}

.copyright .text {
    padding-left: 5px !important;
}

a {
    text-decoration: none;
    color: white !important;
}

.theme-mode-container {
    font-size: 25px;
    height: auto;
}

.theme-mode-container svg {
    font-size: 35px;
    height: auto;
}
