/*.visit-box {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 80%;*/
/*    height: auto;*/
/*    background: var(--primary);*/
/*    padding: 20px;*/
/*    padding-bottom: 30px !important;*/
/*    border-radius: 25px;*/
/*    margin-bottom: 30px;*/
/*    transition: scale 0.5s;*/
/*}*/

/*.visit-box:hover {*/
/*    scale: 1.03;*/
/*    transition: scale 0.5s;*/
/*}*/

/*.visit-icon {*/
/*    margin-right: 15px;*/
/*    font-size: 60px;*/
/*}*/

/*.visit-clientData {*/
/*    font-size: 35px !important;*/
/*}*/

/*.visit-date {*/
/*    margin-left: 15px;*/
/*    font-weight: bolder;*/
/*    font-size: 20px;*/
/*}*/

/*.visit-now {*/
/*    background: var(--focus) !important;*/
/*}*/

.visit-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    background: white;
    padding-bottom: 30px !important;
    border-radius: 25px;
    transition: scale 0.5s;
    box-shadow: 0px 0px 24px -16px rgb(89, 89, 89);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 25px;
    cursor: pointer;
}

.visit-now {
    background: var(--primary-gradient);
}

.visit-now * {
    color: white !important;
    fill: white !important;
}

.visit-now .visit-date {
    color: white !important;
}

.visit-box:hover {
    scale: 1.03;
    transition: scale 0.5s;
}

.visit-icon svg {
    margin-right: 15px;
    font-size: 60px;
    color: var(--primary) !important;
    fill: var(--primary) !important;
    padding: 5px;
}

.visit-clientData {
    font-size: 30px !important;
    color: var(--primary);
    font-weight: 550;
}

.visit-date {
    font-size: 25px;
    font-weight: bolder;
    color: var(--primary) !important;
}

.visit-date svg {
    font-size: 25px !important;
    color: var(--primary) !important;
    fill: var(--primary) !important;
    padding-bottom: 2px;
}

.visit-icon svg{
    color: var(--primary) !important;
    fill: var(--primary) !important;
    padding: 5px;
}
