.client-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background: var(--form-bg-color);
    font-size: 30px;
    font-weight: 650;
    border-radius: 25px;
}

.client-name {
    margin-right: 20px;
}

.show-btn {
    fill: var(--form-bg-color) !important;
    color: var(--form-bg-color) !important;
    font-size: 20px;
}
