.client-card {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 3%;
    background: var(--form-bg-color);
    font-size: 25px;
    font-weight: 650;
    border-radius: 25px;
}

.client-name {
    width: 95%;
}

.show-btn {
    fill: var(--form-bg-color) !important;
    color: var(--form-bg-color) !important;
    font-size: 30px ;
}
