:root {
    --primary: #4cd35e;
    --focus: #2890d5;
    --text: #5a5a5a;
    --subtext: #757575;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #181818;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

