:root {
    --primary: #4cd35e;
    --focus: #4ab155;
    --text: #5a5a5a;
    --subtext: rgba(117, 117, 117, 0.85);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #181818;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

