:root {
    --form-bg-color: #31c668;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #181818;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

